html, body { background: #666; }

.border-bottom { border-bottom: 3px solid #666; }

.wrapper > .dark {
  background: #F8F8F8 url('/images/header.jpg') right top no-repeat;
  border: 15px solid #3A3A3A;
  border-top: none;
  padding-bottom: 60px;
}

.footer {
  padding: 30px 0;
}

h1 {font-weight:bold;letter-spacing:-.01em;color:#571165;}
h2 {font-weight:bold;}
p  {color:#525252;}

.logocol { padding-bottom: 15px; padding-top: 15px; }

h1.logo {
  display: none;
  }

img.logo {
  display: block;
  margin: 0 auto; 
  max-width: 90%;
}

.content, .navcol {
  padding-top: 162px;
}

h1.border-bottom {
  padding-bottom: 8px;
  margin-bottom: 4px;
}

#press .entries {
  list-style: none;
  margin: 0;
  padding: 0;
}

#press .entries img {
  max-width: 100%;
}

.navcol {
  border-left: 15px solid #781D7E;
  height: 100%;
}

.navcol a {
  color: #781D7E;
}

.navcol a:hover {
  color: #6b1a70;
}

.navcol .nav-pills>li.active>a,
.navcol .nav-pills>li.active>a:hover,
.navcol .nav-pills>li.active>a:focus {
  background-color: #781D7E;
  margin-left: -15px;
  margin-right: -15px;
  border-radius: 0;
  padding-left: 30px;
}