@import url(http://fonts.googleapis.com/css?family=Slabo+27px);

/*****/

.border-top    { border-top: 3px solid #666;    padding-top: 1em;    }
.border-bottom { border-bottom: 3px solid #666; padding-bottom: 1em; }

.add-top    { padding-top: 30px; }
.add-top-x2 { padding-top: 60px; }

.wrapper > .dark {
  background: #F8F8F8;
  border: 15px solid #3A3A3A;
  border-top: none;
  padding-bottom: 60px;
}

footer {
  background: purple;
  color: white;
  margin: 3em 0 0;
  padding: 3em 0;
}

.footer {
  padding: 30px 0;
}

footer p,
footer a {
  color:white;
}

h1 {font-weight:bold;letter-spacing:-.01em;color:#571165;}
h2 {font-weight:bold;}
p  {color:#515151;}

.logocol {
  padding-bottom: 15px;
  padding-top: 15px;
}

img.logo {
  display: block;
  margin: 0 auto;
  max-width: 90%;
}

img { width: 100%; }

h1.border-bottom {
  padding-bottom: 8px;
  margin-bottom: 4px;
}

#press .entries {
  list-style: none;
  margin: 0;
  padding: 0;
}

#press .entries img {
  max-width: 100%;
}

.header-image {
  height: 200px;
  background: gray;
  overflow: hidden;
}

.navcol {
  background: #781D7E;
  height: 100%;
  min-height: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  /**/
  font-family: 'Slabo 27px', serif;
  font-size: 111%;
  letter-spacing: 1px;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .header-image {
    margin-right: -15px;
  }

  .navcol {
    background: #781D7E;
    background: rgba(120,29,126,.5);
    height: 100vh;
    padding-top: 230px;
    margin-top: -200px;
    padding-bottom: 60px;
    margin-bottom: -60px;
  }
}

.navcol a {
  color: white;
}

.navcol a:hover {
  color: #6b1a70;
}

.navcol .nav-pills>li>a {
  padding: 7px;
  line-height: 14px;
}

.navcol .nav-pills>li>a:hover,
.navcol .nav-pills>li>a:focus,
.navcol .nav-pills>li.active>a,
.navcol .nav-pills>li.active>a:hover,
.navcol .nav-pills>li.active>a:focus {
  background-color: #781D7E;
  margin-left: -15px;
  margin-right: -15px;
  border-radius: 0;
  padding-left: 22px;
}

.navcol .nav-pills>li>a:hover {
  background-color: #7C4E7F;
  color: white;
}

.navcol .nav-pills>li.active>a,
.navcol .nav-pills>li.active>a:hover,
.navcol .nav-pills>li.active>a:focus {
  cursor: default;
}

.hero {
  background: purple;
  height: 300px;
}

@media screen and (max-width: 991px) {
  .logo {
    text-align: center;
    margin-bottom: 1em;
  }

  .logo img {
    max-width: 120px;
  }
}
